* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  background-color: hsl(0, 0%, 86%);
  color: black;
  height: 100vh;
}

h2 {
  color: hsl(0, 0%, 8%);
  font-size: 3.0rem;
  font-style: italic;
}

.attribution { 
  /* display: flex; */
  position: relative;
  transform: translate(50% 50%);
  bottom: -40px;
  font-size: 11px; text-align: center;
 }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: hsl(0, 1%, 44%);
}

input {
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 94%);
  padding-left: 10px;
  height: 50px;
  width: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}

input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.ageContainer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border-radius: 20px 20px 120px;
  padding: 20px;
  padding-top: 50px;
  width: 480px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-bottom: 10px;
}

.ageCalculator {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.straightLine {
  border: 0.1px solid hsl(0, 0%, 94%);
  width: 380px;
}

.ageInput {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.ageInput-1 {
  display: flex;
  flex-direction: column;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  border: none;
  cursor: pointer;
}

button:focus {
  background-color: hsl(0, 0%, 8%);
}

.icon-arrow {
  width: 25px;
  height: 25px;
}

span {
  color: hsl(259, 100%, 65%);
}

.error-message {
  visibility: visible;
  color: red;
  font-size: 0.6rem;
  height: 20px;
  width: 95px;
  margin-top: 6px;
}

/* Mobile View Adjustments */
@media (max-width: 480px) {
  .attribution { 
    /* display: flex; */
    position: relative;
    transform: translate(50% 50%);
    bottom: -50px;
    right: 45px;
    font-size: 11px; text-align: center;
    width: 380px;
   }
  .ageInput {
    gap: 10px;
  }

  .buttonContainer{
    margin: 30px 5px;

  }

  input {
    padding-left: 5px;
    height: 40px;
    width: 70px;
    font-size: 1.0rem;
    font-weight: 600;
  }
  
  button{
    position: absolute;
    transform: translate(50%);
    right: 50%;
  }

  .ageContainer {
    display: flex;
    justify-content: center; 
    align-items: left; 
    flex-direction: column;
    border-radius: 20px 20px 120px;
    padding: 20px;
    width: min(90%, 340px); 
    min-width: 120px; 
    height: auto; 
    min-height: 400px;  
    gap: 10px;
    margin: auto;
  }
}